<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel Home</title>

    <link rel="stylesheet" href="main.css">

</head>

<body>

    <header>
        <h1>Admi Panel</h1>
        <nav>
            <a href="new-product">+ New Product</a>
        </nav>
    </header>

    <main>

        <table>
            <th>
                <tr>
                    <td>Product ID</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Company</td>
                    <td>Image</td>
                    <td>Actions</td>
                </tr>
            </th>

            <tbody>
                <% products.forEach(product=>{ %>
                    <tr>
                        <td>
                            <%=product.product_id%>
                        </td>
                        <td>
                            <%=product.productName%>
                        </td>
                        <td>
                            <%=product.price%>
                                <%let priceInDolars=(product.price / 130).toFixed(3) %>
                                    <%=priceInDolars%>
                        </td>
                        <td>
                            <%=product.quantity%>
                        </td>
                        <td>
                            <%=product.companyName%>
                        </td>
                        <td>
                            <img width="130px" src="./products/<%=product.productimage%>" alt="">
                        </td>

                        <td>
                            <a href="delete/<%=product.product_id%>">Delete</a>

                            <a href="edit">Edit</a>
                        </td>

                    </tr>

                    <%})%>







            </tbody>
        </table>

    </main>

    <script>
    // fe js
    </script>

</body>

</html>